<div class  "page-header" > 
    <h1>Edit Member</h1>
</div>

<br>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link nameTab" ng-click="editMember.membernamePhase();" ng-class="membernameTab" data-toggle="tab" href="#" role="presentation" aria-controls="membernameTab">Primary Information</a>
    <a class="nav-item nav-link emailTab" ng-click="editMember.emailPhase();" ng-class="emailTab" data-toggle="tab" href="#" role="presentation" aria-controls="usernameTab">Additional Information</a>
  </div>
</nav>



<!-- Phase One: Name -->
<form name="editMember.membernameForm" ng-show="editMember.phase1" ng-submit="editMember.updateMemberName(newMemberName, editMember.membernameForm.membername.$valid)" novalidate>
    <!-- Name Div -->
    <div ng-class="{ 'has-success':(editMember.membernameForm.membername.$valid && !editMember.membernameForm.membername.$pristine), 'has-error':(!editMember.membernameForm.membername.$valid && !editMember.membernameForm.membername.$pristine) || (!membernameForm.membername.$valid && membernameForm.$submitted) }">
        <!-- Name Input -->
        <label>Member Name:</label>
        <input ng-disabled="editMember.disabled" class="form-control" type="text" name="membername" placeholder="please enter member name" ng-model="newMemberName" ng-pattern="/^[a-zA-Z\d\-_\s]+$/" required>
        <!-- Name Validation -->
        <p class="help-block" ng-show="(!editMember.membernameForm.membername.$pristine && membernameForm.membername.$error.required) || (editMember.membernameForm.$submitted && editMember.membernameForm.membername.$error.required)">This field is required</p>
        <ul ng-show="(!editMember.membernameForm.membername.$pristine && editMember.membernameForm.membername.$error.pattern)" class="help-block">
            <li> Must not contain any special characters</li>
        </ul>
    </div>
    <!-- Name Input -->
    <br>
    <!-- Submit Button -->
    <button ng-disabled="editMember.disabled" class="btn btn-primary" type="submit">Update</button>
</form>
<!-- Phase One: Name -->


<!-- Phase One: Name -->
<form name="editMember.emailForm" ng-show="editMember.phase2" ng-submit="editMember.updateEmail(newEmail, editMember.emailForm.email.$valid)" novalidate>
    <!-- Name Div -->
    <div ng-class="{ 'has-success':(editMember.emailForm.email.$valid && !editMember.emailForm.email.$pristine), 'has-error':(!editMember.emailForm.email.$valid && !editMember.emailForm.email.$pristine) || (!emailForm.email.$valid && emailForm.$submitted) }">
        <!-- Name Input -->
        <label>Member Email:</label>
        <input ng-disabled="editMember.disabled" class="form-control" type="text" name="email" placeholder="please enter member email" ng-model="newEmail" ng-pattern="/((([A-Za-z]{3,9}:(?:\/\/)?)(?:[-;:&=\+\$,\w]+@)?[A-Za-z0-9.-]+|(?:www.|[-;:&=\+\$,\w]+@)[A-Za-z0-9.-]+)((?:\/[\+~%\/.\w-_]*)?\??(?:[-\+=&;%@.\w_]*)#?(?:[\w]*))?)/" required>
        <!-- Name Validation -->
        <p class="help-block" ng-show="(!editMember.emailForm.email.$pristine && emailForm.email.$error.required) || (editMember.emailForm.$submitted && editMember.emailForm.email.$error.required)">This field is required</p>
        <ul ng-show="(!editMember.emailForm.email.$pristine && editMember.emailForm.email.$error.pattern)" class="help-block">
            <li> Please enter valid email format</li>
        </ul>
    </div>
    <!-- Name Input -->
    <br>
    <!-- Submit Button -->
    <button ng-disabled="editMember.disabled" class="btn btn-primary" type="submit">Update</button>
</form>

<br>

<!-- Custom Success Message -->
<div class="row show-hide-message" ng-show="editMember.successMsg">
    <div class="alert alert-success">{{ editMember.successMsg }}</div>
</div>
<!-- Custom Success Message -->

<br>

<!-- Custom Error Message -->
<div class="row show-hide-message" ng-show="editMember.errorMsg">
    <div class="alert alert-danger">{{ editMember.errorMsg }}</div>
</div>
<!-- Custom Error Message -->
