<div class  "page-header" > 
    <link href="/assets/css/open-iconic-bootstrap.css" rel="stylesheet">
    <h1>Invoice Form</h1>
</div>

<br>


<form name ="invoiceForm">
    <h4>Primary Information</h4>
    <div class="bg-light">
      <!-- <div class="form-row"> -->
        <div class="form-group">
          <label for="chapter">Chapter</label>
          <!-- <input type="text" class="form-control" id="chapter" placeholder="Select Chapter"> -->
            <select class="form-control" ng-model="chapter"
                        ng-options="u.chaptername as u.chaptername for u in invoice.chapters"></select>

        </div>
    
        <div class="form-group">
            <label for="member">Member</label>
            <!-- <input type="text" class="form-control" id="member" placeholder="Select Member"> -->
            <select class="form-control" ng-model="member" ng-change="invoice.copyBillingEmail();" ng-options="u.membername for u in invoice.members"></select>

        </div>

        <div class="form-group">
            <label for="member">Billing Email</label>
            <!-- <input type="text" class="form-control" id="member" placeholder="Select Member"> -->
            <input class="form-control" ng-model="billingemail" ng-disabled="!member">

        </div>
    </div>

    <br>
    <h4>Accounting Information</h4>
    <div class="bg-light">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="invoicedate">Invoice Date</label>
                <input type="date" class="form-control" ng-change="invoice.calcInvoiceDueDate();" ng-model="invoicedate">
            </div>
            <div class="form-group col-md-4">
                <label for="terms">Invoice Terms</label>
                <!-- <input type="text" class="form-control" id="terms" placeholder="Terms"> -->
                <select class="form-control" ng-model="invoiceterms" ng-change="invoice.calcInvoiceDueDate();" ng-options="terms.name for terms in invoice.invoiceTerms"></select>
            </div>
            <div class="form-group col-md-4">
                <label for="invoiceduedate">Invoice Due Date</label>
                <input type="date" class="form-control" id="invoiceduedate" ng-model="invoiceduedate" placeholder="Invoice Due Date" ng-disabled="(!invoiceterms || !invoicedate)">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="postingperiod">Posting Period</label>
                <input type="text" class="form-control" id="postingperiod" placeholder="Posting Period">
            </div>
            <div class="form-group col-md-6">
                <label for="araccount">Accounts Receivable Account</label>
<!--                 <input type="text" class="form-control" id="araccount" placeholder="Accounts Receivable Account"> -->
                <select class="form-control" ng-model="araccount" ng-options="araccount.glaccountnumber + ' - ' + araccount.glaccountname for araccount in invoice.araccounts"></select>
            </div>
        </div>
    </div>

    <br>
    <h4 class="text-muted">Payment Information (Placeholder)</h4>
    <div class="bg-light">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="paymentmethod">Payment Method</label>
                <input type="text" class="form-control" id="paymentmethod" placeholder="Payment Method">
            </div>
            <div class="form-group col-md-4">
                <label for="terms">Currency</label>
                <input type="text" class="form-control" id="currency" placeholder="Currency">
            </div>
        </div>
    </div>

    <br>

    <h4>Line Items</h4>

    <table class="table table-bordered">
        <tr class="bg-light">
            <th><input type="checkbox" ng-model="selectedAll" ng-click="invoice.checkAllLines()" /></th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Rate</th>
            <th>Amount</th>  
        </tr>
        <tr>
        <tr ng-repeat="line in lines">
            <td>
                <input type="checkbox" ng-model="line.selected">
            </td>
            <td>
                <select  class="formControl" name="repeatSelect" id="repeatSelect" ng-model="line.item">
                    <option ng-repeat="item in invoice.items" value="{{ item.itemname }}">{{ item.itemname }}</option>
                </select></td>
            </td>
            <td>
                <input type="number" class="form-control" ng-model="line.quantity" ng-change="invoice.calcLineAmount(lines.length);" required">
            </td>
            <td>
                <input type="number" class="form-control" ng-model="line.rate" ng-change="invoice.calcLineAmount(lines.length);" required>
            </td>
            <td>
                <input type="number" class="form-control" ng-model="line.amount" ng-disabled="(!line.quantity || !line.rate)">           
            </td>

        </tr>

        <tr>

            <td colspan="12">
                <button type="button" class="btn btn-primary btn-sm" align="right" ng-click="invoice.addNewLine(lines.length);" >Add Line</button>
                <button type="button" class="btn btn-danger btn-sm" align="right" ng-click="invoice.removeLine();" >Remove Line(s)</button>
            </td>
        </tr>

        <tr>

            <th colspan="9">
            <div class="row">
                <div class="col-sm-10 text-right">Total</div>
                <div class="col-sm-2 text-right">0</div>
                </div>
            </th>
        </tr>
    </table>

    <br>
    
    <button type="submit" class="btn btn-primary">Create Invoice</button>

</form>