<div class  "page-header" > 
    <link href="/assets/css/open-iconic-bootstrap.css" rel="stylesheet">
    <h1>Invoice Form</h1>
</div>

<br>






<form name ="invoiceForm">
    <h4>Primary Information</h4>
    <div class="bg-light">
      <!-- <div class="form-row"> -->
        <div class="form-group">
          <label for="chapter">Chapter</label>
          <input type="text" class="form-control" id="chapter" placeholder="Select Chapter">
        </div>
    
        <div class="form-group">
            <label for="member">Member</label>
            <input type="text" class="form-control" id="member" placeholder="Select Member">
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="billingcontact">Billing Contact</label>
                <input type="text" class="form-control" id="billingcontact">
            </div>
            <div class="form-group col-md-6">
                <label for="billingemail">Billing Email</label>
                    <select id="billingemail" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                    </select>
            </div>

        </div>
    </div>

    <br>
    <h4>Accounting Information</h4>
    <div class="bg-light">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="invoicedate">Invoice Date</label>
                <input type="date" class="form-control" id="invoicedate" placeholder="Invoice Date">
            </div>
            <div class="form-group col-md-4">
                <label for="terms">Terms</label>
                <input type="text" class="form-control" id="terms" placeholder="Terms">
            </div>
            <div class="form-group col-md-4">
                <label for="invoicedate">Invoice Due Date</label>
                <input type="date" class="form-control" id="invoiceduedate" placeholder="Invoice Due Date">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="postingperiod">Posting Period</label>
                <input type="text" class="form-control" id="postingperiod" placeholder="Posting Period">
            </div>
            <div class="form-group col-md-6">
                <label for="araccount">Accounts Receivable Account</label>
                <input type="text" class="form-control" id="araccount" placeholder="Accounts Reveivable Account">
            </div>
        </div>
    </div>

    <br>
    <h4 class="text-muted">Payment Information (Placeholder)</h4>
    <div class="bg-light">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="paymentmethod">Payment Method</label>
                <input type="date" class="form-control" id="paymentmethod" placeholder="Payment Method">
            </div>
            <div class="form-group col-md-4">
                <label for="terms">Currency</label>
                <input type="text" class="form-control" id="currency" placeholder="Currency">
            </div>
        </div>
    </div>

    <br>

    <h4>Line Items</h4>

    <table class="table table-bordered">
        <tr class="bg-light">
            <th>Item</th>
            <th>Quantity</th>
            <th>Rate</th>
            <th>Amount</th> 
            <th></th>  
        </tr>
        <!-- <tr ng-repeat="person in management.users |filter: searchFilter |limitTo: management.limit"> -->
        <tr>
            <td style="width: 40%">ABCDEF</td>
            <td style="width: 12%">0</td>
            <td style="width: 12%">100</td>
            <td style="width: 12%">0</td>
            <td style="width: 24%">
<!--                     <span class="oi oi-plus" title="icon name" aria-hidden="true" class="text-primary"></span>
                    <span class="oi oi-minus" title="icon name" aria-hidden="true" class="text-primary"></span> -->
                <button type="button" class="btn btn-primary btn-sm">Add Another Item</button>
                <button type="button" class="btn btn-danger btn-sm">Remove Item</button>
            </td>
        </tr>

        <tr>
            <th colspan="9">
                <div class="row">
                    <div class="col-sm-10 text-right">Total</div>
                    <div class="col-sm-2 text-right">0</div>
                </div>
            </th>
        </tr>
    </table>

    <br>
    
    <button type="submit" class="btn btn-primary">Create Invoice</button>

</form>